<!DOCTYPE html> <html> <head>
    <title>RasCon ver.1.2.1</title>
</head>
<body>
	<div id="container" style="width:400px">

	<div id="header">

	<div id="content">
        <div>
    	<table style="width: 60%;margin:auto">
		<caption>Virtual Controller</caption>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value="zl">ZL</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="l">L</button></form></td>
			<td></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="r">R</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="zr">ZR</button></form></td>
		</tr>
        <tr>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="plus">＋</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="minus">-</button></form></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="ls up,100">↑</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="x">X</buttonm></form></td>
			<td></td>
		</tr>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value="ls left,100">←</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="l_stick">●</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="ls right,100">→</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="y">Y</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="a">A</button></form></td>
		</tr>
		<tr>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="ls down,100">↓</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="b">B</button></form></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="up">▲</buttonm></form></td>
			<td></td>
                        <td></td>
             		<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs up,100">↑</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
		</tr>
			<td><form action="/btn" method="POST"><button name="btn" value="left">◀</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="right">▶</button></form></td>
                        <td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs left,100">←</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="r_stick">●</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs right,100">→</button></form></td>
		</tr>
		<tr>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="down">▼</button></form></td>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value="rs down,100">↓</button></form></td>
			<td><form action="/btn" method="POST"><button name="btn" value=""></button></form></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="capture">C</button></form></td>
			<td></td>
			<td><form action="/btn" method="POST"><button name="btn" value="home">H</button></form></td>	
			<td></td>
			<td></td>
		</tr>
	</table>
        </div>
	</div>
	 <div id="content" style="background-color:#EEEEEE;height:300px;width:430px;float:left;">
		<p>Script</p>
		<form action="/script/run" method="POST">
			<textarea name="script" rows="13" cols="48" style="resize:none;">{{script}}</textarea><br>
                        
			<button style="width:360px;height:25px;">RUN</button>
		</form>
                <form action="/script/stop" method="POST"><button style="width:360px;height:25px;">STOP</button></form>
         </div>
	<b>Rasberry Pi</b><br>
	<br>
	<form action="/raspi" method="POST"><button name="btn" value="sudo reboot">reboot</button></form>
	<form action="/raspi" method="POST"><button name="btn" value="sudo shutdown">shutdown</button></form>



</body>
</html>

